<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/restaurants/top">TOP10 人氣餐廳</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/top">美食達人</a>
  </li>

  <div class="row justify-content-center">
    {{#each restaurants}}
    <div class="card" style="width: 50rem; margin:0px auto;">
      <div class="card-body row">
        <div class="col-4">
          <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
        </div>
        <div class="col-8">
          <h5 class="card-title">{{this.name}}</h5>
          <span class="badge badge-secondary">收藏數:{{this.FavoriteCounts}}</span>
          <p>{{this.description}}</p>
          <a href="/restaurants/{{this.id}}"><button class="btn btn-primary">Show</button></a>
          {{#if this.isFavorited}}
          <form action="/favorite/{{this.id}}?_method=DELETE" method="POST" style="display: contents;"><button
              type="submit" class="btn btn-danger">移除最愛</button></form>
          {{else}}
          <form action="/favorite/{{this.id}}" method="POST" style="display: contents;"><button type="submit"
              class="btn btn-primary">加到最愛</button></form>
          {{/if}}
        </div>
      </div>
    </div>
    <br />
    {{/each}}
  </div>